
body{font-family: 'Open Sans', sans-serif; font-size: 16px;}
h1,h2,h3,h4,h5,h6{font-family: 'Bree Serif', serif;}

h2{
	background-color: #a1dd70;
	padding: 30px;
	color: white;
	margin-top: 40px;
}


nav{
	background-color: #fdfff0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#landing{
	padding: 40px;
	padding-top: 60px;
	background-color: #fdfff0;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#select{
	/*float: none;
    	 margin: 10px auto; */
    	height: 150px;
    	padding-top: 5px;
    	margin-top: 132px;
}



.login-header{
	padding-left: 15px;
	padding-top: 15px;
}

.login-box{
	padding: 20px;
}

.heading{
	text-align: center;
	font-size: 60px;
	font-family: 'Bree Serif', serif;
	color: #a23131;
	line-height: 40px;
}

.subtitle{
	text-align: center;
	font-size: 16px;
}

.jumbotron{
	background-color: #a1dd70;
	color: white;
	padding-top: 130px;
}

.navbar-right{
	padding-right: 70px;
}

.badges{
	border-radius: 25px;
	background-color: #a23131;
	border: 10px dotted white;
	padding: 20px 20px 0px 20px;
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.unearned{
	background-color: #e8ecd6;
	border: none;
}

.unearned-text{
	color: white;
}

.earned-text{
	color: white;
}

.card-img-top{
	width: 250px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.card-title{
	color: #a23131;
	font-size: 26px;
	padding-bottom: 8px;
	margin-bottom: 0;
}

.dark-grey{
	color: #555555;
}

.card-text{
	color: #000000;
	font-size: 17px;
	padding-top: 0;
}

.card{
	border: none;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}

.button-row{
	margin: 10px;
}

#logo{
	font-family: 'Bree Serif', serif;
	color: #a23131;
}

#setting-icon{
	width: 20px;
	height: 20px;
}

#macro_div, #time_div{
	margin-left: 25%;
	padding-bottom: 20px;
}

#chart_div{
	margin-left: 10%;
	padding-top: -20px;
}

/* recipes page */
.card-columns{
	padding-top: 65px;
	padding-left: 20px;
	padding-right: 20px;
}

.card:hover{
	opacity: 0.7;
	transition: 0.3s;
}

.food{
	width: 100%;
}

.gc-title{
	color: black;
}

.stretched-link:hover, .gc-title:hover {
	color: #a23131;
}

.btn-outline-secondary{
	margin: 5px;
}

#all-buttons{
	margin-top: 50px;

	left: 50%;
	transform: translate(15%, 0%);
}



/* grilled cheese */

#recipe-content{
	padding-top: 100px;
}

#grilled-pic{
	width: 100%;
	padding-bottom: 20px;
}

#back{
	color: black;
}

#back:hover{
	color: #a23131;
	text-decoration: none;
}

#dropdownMenuButton {
	width: 190px;
}

/*
#submit-serving-btn {
	background-color: #a1dd70;
	outline-color: #a1dd70;
	outline-width: 0;
}
*/
